<div class="container">
  <div class="row">

    <div class="col-md-4" *ngFor="let team of teamReport; let i = index">
      <div class="box-shadow" [ngClass]="i < 3 ? 'scorecardTop' : 'scorecard'">
        <div class="row teamDetail">
          <div class="col-md-4" *ngIf="i < 3">
            <div class="trophy" [ngClass]="i == 0 ? 'gold' : i==1 ? 'silver' : 'bronze'"> <i class="fa fa-trophy"></i>
            </div>
            <div class="icon">
                <img src="/assets/images/{{team.name}}.png" height="75" width="75"/>
                <!-- <img  alt="{{team.name}}" height="42" width="42"/> -->
            </div>
          </div>
          <div [ngClass]="i < 3 ? 'col-md-8' : 'col-md-12'" style="margin-bottom: 12px">
            <div class="teamName">{{team.name}}</div>
          </div>

          <div class="col-md-6 winLoss">
            <div class="col-md-12 ratio" *ngIf="i < 3">Win Rate: {{team.winRate}}</div>
            <div style="display: block">
              <canvas baseChart [data]="[team.pieChartData]" [options]="pieChartOptions" [labels]="pieChartLabels"
                [chartType]="pieChartType"></canvas>
            </div>
          </div>

          <div class="col-md-6 goalComparision">
            <div class="col-md-12 ratio" *ngIf="i < 3">Goal Rate: {{team.scoreRate}}</div>
            <div style="display: block">
              <canvas baseChart [datasets]="team.barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [chartType]="barChartType" [colors]="barChartColor">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>