.matchday{
    text-align: center;
    background-image: linear-gradient(to right, #630b09 0%, #d22120 100%);
    width: 100%;
    color: #fff;
    font-size: 1.4em;
    box-shadow: 0px 0px;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}

.matchlist{
    text-align: center;
    width: 100%;
    color: #313535;
    font-size: 1.2em;
    box-shadow: 0px 0px;
    border-radius: 5px;
    padding: 3px;
}

.match{
    background: #f0f8ffc7;
    border-radius: 2px;
}

.matchSeperator{
    margin-bottom: 8px;
    box-shadow: 0 1px 2px #777;
}

.calender{
    background-image: linear-gradient(to right, #630b09 0%, #d22120 100%);
    border-radius: 2px;
    margin-bottom: 16px;
}

.teamlist{
    background: #eccbcb;
    height: 500px;
    border-radius: 2px;
    overflow: auto;
    text-align: center;
}

.matchdate{
    font-size: 20px;
}

.matchmonth{
    font-size: 15px;
}

.match-row{
    height: 55px;
}

.text-in-middle{
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

.box-shadow{
    box-shadow: 0 1px 1px #777;
}

.custom-drpdwn{
    width: 100%;
    background: none;
    color: #fff !important;
    margin: auto 0;
    border: navajowhite;
    text-align: center;
    text-align-last: center; 
}

.custom-drpdwn option{
    width: 100%;
    background-color: rgba(210, 33, 32, 0.8);
    font-size: 15px;
}

.font-color-major{
 color: #fff;
}
