.tg {
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    border-color:#aabcfe;
}
 .tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#669;
    background-color:#e8edff;
}
 .tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#039;
    background-color:#b9c9fe;
}
 .tg .tg-phtq{
    background-color:#D2E4FC;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
 .tg .tg-c3ow{
    border-color:inherit;
    text-align:center;
    vertical-align:top
}
 .tg .tg-ydyv{
    background-color:#D2E4FC;
    border-color:inherit;
    text-align:right;
    vertical-align:top
}
 .tg .tg-0pky{
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
 .tg .tg-dvpl{
    border-color:inherit;
    text-align:right;
    vertical-align:top
}
 .parentContainer{
    margin: auto;
     width: 50%;
     border: 3px solid green;
     padding: 10px;
}
