<table class="tg">
  <tr>
    <th class="tg-c3ow" colspan="5">Match Details</th>
  </tr>
  <tr>
    <td class="tg-phtq">Date</td>
    <td class="tg-phtq">TEAM 1</td>
    <td class="tg-phtq">SCORE</td>
    <td class="tg-phtq">SCORE 2</td>
    <td class="tg-phtq">TEAM 2</td>
  </tr>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Swimming</td>
    <td class="tg-dvpl">1:30</td>
    <td class="tg-dvpl">2:05</td>
    <td class="tg-dvpl">1:15</td>
  </tr>
  <tr>
    <td class="tg-phtq">2</td>
    <td class="tg-phtq">Running</td>
    <td class="tg-ydyv">15:30</td>
    <td class="tg-ydyv">14:10</td>
    <td class="tg-ydyv">15:45</td>
  </tr>
  <tr>
    <td class="tg-0pky">3</td>
    <td class="tg-0pky">Shooting</td>
    <td class="tg-dvpl">70%</td>
    <td class="tg-dvpl">55%</td>
    <td class="tg-dvpl">90%</td>
  </tr>
</table>