
<div *ngIf="matchdetails" class="parentContainer">
  <table class="tg" *ngFor="let matchesplayed of matchdetails.rounds">
    <tr>
      <td class="tg-phtq">Date</td>
      <td class="tg-phtq">TEAM 1</td>
      <td class="tg-phtq">SCORE 1</td>
      <td class="tg-phtq">SCORE 2</td>
      <td class="tg-phtq">TEAM 2</td>
    </tr>
    <tr class="tg-phtq">
      <td colspan="5">{{matchesplayed.name}}</td>
    </tr>
    <tr *ngFor="let eachmatch of matchesplayed.matches">
      <td class="tg-0pky">{{eachmatch.date}}</td>
      <td class="tg-0pky">{{eachmatch.team1.name}}</td>
      <td class="tg-0pky">{{eachmatch.score1}}</td>
      <td class="tg-0pky">{{eachmatch.score2}}</td>
      <td class="tg-0pky">{{eachmatch.team2.name}}</td>
    </tr>
    <tr> </tr>
  </table>
</div>