.matchday{
    text-align: center;
    background-image: linear-gradient(to right, #630b09 0%, #d22120 100%);
    width: 100%;
    color: #fff;
    font-size: 1.4em;
    box-shadow: 0px 0px;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}

.round{
    width: 100%; 
}

.matchlist{
    text-align: center;
    width: 100%;
    color: #313535;
    font-size: 1.2em;
    box-shadow: 0px 0px;
    border-radius: 5px;
    padding: 3px;
}

.match{
    background: #f0f8ffc7;
    border-radius: 2px;
}

.matchSeperator{
    margin-bottom: 8px;
    box-shadow: 0 1px 2px #777;
}

.calender{
    background-image: linear-gradient(to right, #630b09 0%, #d22120 100%);
    border-radius: 2px;
    margin-bottom: 16px;
}

.teamlist{
    background-image: linear-gradient(to right, #630b09d4 0%, #d22120 100%);
    height: 500px;
    border-radius: 2px;
    overflow: auto;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
}

.matchdate{
    font-size: 20px;
}

.matchmonth{
    font-size: 15px;
}

.match-row{
    height: 55px;
}

.text-in-middle{
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

.box-shadow{
    box-shadow: 0 1px 1px #777;
}

.custom-drpdwn{
    width: 100%;
    background: none;
    color: #fff !important;
    margin: auto 0;
    border: navajowhite;
    text-align: center;
    text-align-last: center; 
}

.custom-drpdwn option{
    width: 100%;
    background-color: rgba(210, 33, 32, 0.8);
    font-size: 15px;
}

.font-color-major{
 color: #fff;
}

.teamName{
    padding: 0;
}

.teamCheck{
    display: none;
}


/*** custom checkboxes ***/
.checkboxFive {
    width: 25px;
    position: relative;
}

.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.checkboxFive label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.checkboxFive label:hover::after {
    opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
    opacity: 1;
}