/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../node_modules/font-awesome/css/font-awesome.css);

.fb-bg{
 background-image: url('http://school298.spb.ru/images/300/DSC100305683.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}