/* You can add global styles to this file, and also import other style files */
.fb-bg{
 background-image: url('http://school298.spb.ru/images/300/DSC100305683.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}