<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="winner">
                <a href="https://www.lcfc.com/" target="_blank">
                <div class="winnerPic">
                    <img src="/assets/images/leicester-premier-league-trophy.jpg" height="400" width="100%">
                </div>
                <div class="winnerDetails teamColor15-16">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 head">Premier League Winner 2015-16</div>
                            <div class="col-md-12 team">
                                <div class="icon">
                                    <img src="/assets/images/{{winner1516.name}}.png" height="32" width="32" />
                                </div>
                                <div class="teamName">{{winner1516.name}}</div>
                            </div>
                            <div class="col-md-6">Matches Played : 38</div>
                            <div class="col-md-6">Goals Scored : 38</div>
                            <div class="col-md-6">Matches Won : 38</div>
                            <div class="col-md-6">Matches Goals : 38</div>
                        </div>
                    </div>
                </div>
            </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="winner">
                <a href="https://www.manutd.com" target="_blank">
                    <div class="winnerPic">
                        <img src="/assets/images/man-united.jpg" height="400" width="100%">
                    </div>
                    <div class="winnerDetails teamColor16-17">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 head">Premier League Winner 2016-17</div>
                                <div class="col-md-12 team">

                                    <div class="icon">
                                        <img src="/assets/images/Manchester United.png" height="32" width="32" />
                                    </div>
                                    <div class="teamName">Manchester United</div>

                                </div>
                                <div class="col-md-6">Matches Played : 38</div>
                                <div class="col-md-6">Goals Scored : 38</div>
                                <div class="col-md-6">Matches Won : 38</div>
                                <div class="col-md-6">Matches Goals : 38</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>